"*":
  "atom-beautify":
    general:
      _analyticsUserId: "cdf8a2f2-d06c-420c-8e5f-b487ba34d641"
  core:
    disabledPackages: [
      "background-tips"
      "language-gfm"
      "linter-markdown"
    ]
    telemetryConsent: "limited"
    warnOnLargeFileLimit: 10
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "23b098d2-0be9-4130-941f-408e814f6fc5"
  "linter-docker": {}
  "linter-markdown": {}
  "linter-ui-default":
    showPanel: true
  "package-script-runner":
    manager: "npm"
  "project-manager": {}
  welcome:
    showOnStartup: false
".editorconfig.source":
  editor:
    softWrapAtPreferredLineLength: true
"file-types":
  "^Dockerfile\\..*$": "source.dockerfile"
