"*":
  core:
    disabledPackages: [
      "background-tips"
    ]
    telemetryConsent: "limited"
    warnOnLargeFileLimit: 10
  editor:
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "23b098d2-0be9-4130-941f-408e814f6fc5"
  welcome:
    showOnStartup: false
